<!DOCTYPE html>
<html lang="en">
<head>
    <<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Trang Cá Nhân</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!--
		CSS
		============================================= -->

		<%include template/css.ejs%>
</head>
<body>
    <%include template/header2.ejs%>
    <div class="container" >
        <div>
            <h3>Thông Tin Thành Viên</h3>
            
            <form method="POST" name="fr_update">
                <table class="table"  margin="0,10,0,0">
                    <tr><td class="justify-content: center; align-items: center;" style=" font-size:18px"><b>Họ tên:</b></td><td><input type="text" name="fullname"/></td></tr>
                    <tr><td class="justify-content: center; align-items: center;" style=" font-size:18px"><b>Email:</b></td><td><input type="text" name="email"/></td></tr>
                    <tr><td class="justify-content: center; align-items: center;" style=" font-size:18px"><b>Ngày sinh:</b></td><td><input type="text" name="birthday"/></td></tr>
                    <tr><td class="justify-content: center; align-items: center;" style=" font-size:18px"><b>Username:</b></td><td><input type="text" name="username"/></td></tr>
                    <tr><td class="justify-content: center; align-items: center;" style=" font-size:18px"><b>Password:</b></td><td><input type="password" name="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td></tr>
                    <tr><td class="justify-content: center; align-items: center;" style=" font-size:18px"><b>Nhập lại Password:</b></td><td><input type="password" name="re_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required></td></tr>
                </table>
            </form>
        </div>
        <button style=" font-size:18px; text-align:center">Lưu thông tin</button>
    </div>
    

    <%include template/footer.ejs %>
    <%include template/js.ejs %>
</body>
</html>
