<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <img class="img-fluid" src="../../images/logo.png" alt="" style="max-height: 50px; max-width: 50px">
        </a>
        <!-- Nav Item - Dashboard -->
        <!-- <% if (userInfo[0].userClass == 4) { %>
        <li class="nav-item ">
            <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <% } %>-->
        
        <!-- Heading -->
        <div class="sidebar-heading"> Cá nhân </div>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <li class="nav-item ">
            <a class="nav-link" href="/admin/profile">
                <i class="fa fa-user"></i>
                <span>Thông tin cá nhân</span>
            </a>
        </li>
        <% if (userInfo[0].userClass == 2) { %>
        <div class="sidebar-heading">Đăng bài</div>
        <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/admin/write-post">
                    <i class="fa fa-pencil"></i>
                    <span>Viết bài đăng</span>
                </a>
            </li>
        <% } %>    
        <div class="sidebar-heading">
            Quản lý
        </div>
        <hr class="sidebar-divider">
        <!-- Nav Item - Tables -->

        <% if (userInfo[0].userClass == 4) { %>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users-table">
                <i class="fa fa-users"></i>
                <span>Quản lý người dùng</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories-table">
                <i class="fa fa-list"></i>
                <span>Quản lý chuyên mục</span>
            </a>
        </li>
        <% } %>
        <li class="nav-item">
            <a class="nav-link" href="/admin/posts-table">
                <i class="fas fa-fw fa-newspaper-o"></i>
                <span>Quản lý bài đăng</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->


    </ul>
