<li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="/admin/profile" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= userInfo[0].username %></span>
            <img class="img-profile img-fluid rounded-circle" src="../../images/img_avatar2.png">
        </a>

    </li>
